*~
makefile.main
output
aux
CLB
*.cbp
Snap*.dat
/*.xml
/config.*
/configure
src/test
tools/makeheaders
my/*
*.gcov
*.gcda
*.gcno
wiki
p
*.pyc
.Rproj.user
ReviewPaperSims/
example/d2q9_pf_pressureEvolution
example/d2q9_pp_LBL
example/d2q9_pp_MCMP
